fastapi==0.115.5
uvicorn[standard]==0.32.0
pydantic==2.9.2
pydantic-settings==2.6.1
orjson==3.10.7
torch==1.13.1
numpy==1.26.4
requests==2.32.3
transformers==4.40.1
sentencepiece==0.1.99
spacy==3.7.4
nltk==3.9.1
git+https://github.com/yuh-zha/AlignScore.git
