services:
  api:
    image: ${image_uri_api}
    restart: always
    environment:
      HF_ENDPOINT_URL: ${hf_endpoint_url}
      HF_TOKEN: ${hf_token}
      DRY_RUN: 0
    ports:
      - "${host_port_api}:80"
  alignscore:
    image: ${image_uri_alignscore}
    restart: always
    environment:
      ALIGN_MODEL_NAME: roberta-base
      ALIGN_BATCH_SIZE: 4
      ALIGN_DEVICE_PREFERENCE: auto
      ALIGN_CHECKPOINT_PATH: ${alignscore_ckpt_container_path}
    volumes:
      - "${alignscore_ckpt_host_path}:${alignscore_ckpt_container_path}:ro"
    ports:
      - "${host_port_alignscore}:8090"
